body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 20px;
}

#map {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
}

.room {
	display: grid;
	grid-template-columns: repeat(5, 30px); /* Adjust for room grid size */
	gap: 2px;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
}

.cell.empty {
	background-color: #f0f0f0;
}

.cell.wall {
	background-color: grey;
}

.cell.door {
	background-color: #ffa500;
}

.cell.weapon {
	background-color: #00f;
}

.cell.spawn {
	background-color: #0f0;
}